body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-size: contain;
  color: white;
  font-family: 'Raleway', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: grey;
  text-decoration: none;
}

#map {
  padding-left: 0px;
  padding-right: 0px;
}

.marker_textbox {
  color: black;
}

.marker_textbox a {
  color: #007bff;
}

.our_textbox {
  font-size: 20px;

}

.our_textbox a {
  color: lightgrey;
}

.our_textbox a:hover {
  color: white;
}

.round-button-circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
	width: 65px;
	height: 65px;
    border-radius: 50%;
	border: 5px solid #CFDCEC;
    overflow: hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background: #30588E;
}
.round-button-circle a {
    display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
    padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.5em;

	text-align: center;
	color: #E2EAF3;
    font-family: Verdana;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}
