body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-size: contain;
  color: white;
  font-family: 'Raleway', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: grey;
  text-decoration: none;
}

#map {
  padding-left: 0px;
  padding-right: 0px;
}

.marker_textbox {
  color: black;
}

.our_textbox {
  font-size: 20px;

}

.our_textbox a {
  color: lightgrey;
}

.our_textbox a:hover {
  color: white;
}
